.main {
  background: linear-gradient(
    90deg,
    rgb(236, 190, 6) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 65%,
    rgb(0, 255, 251) 100%
  );

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
